今天，我们将继续学习第3种索引方式：布尔索引 。

面对大型数据时，用于获取数据的行索引和列索引往往不确定，通常我们需要寻找满足或不满足特定计算或条件的值。

这时候，我们就需要用到 布尔索引 来筛选出符合要求的数据。

# 布尔索引：一个判断条件

让我们来考虑以下例子：

假设在读取电商数据时，我们想要输出所有 "cutdown_price"（优惠价格）大于0 的行数据，该怎么做呢？

首先，因为我们想找到 "cutdown_price" 这一列中大于0的值，所以需要在读取电商数据后，通过列索引获取该列的所有数据。

具体代码如下：

In [1]:
# 导入pandas模块，并以"pd"为该模块的简写
import pandas as pd

# 使用pd.read_csv()函数读取路径为 "/Users/yequ/电商数据清洗.csv" 的CSV文件，并将结果赋值给变量data
data = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_4_output/yequ/电商数据清洗.csv")

# TODO 使用print()和列索引输出"cutdown_price"这一列数据
print(data["cutdown_price"])

0           0
1           0
2           0
3           0
4           0
         ...
85647    1000
85648       0
85649       0
85650       0
85651       0
Name: cutdown_price, Length: 85652, dtype: int64

访问了 "cutdown_price" 这一列数据后，我们就需要判断该列中哪些值大于0。

如果大于0，我们就把对应的那一行数据保留下来。

判断 "cutdown_price" 这一列数据中哪些值大于0，可以使用比较运算中的大于（>）来写一个条件表达式：data["cutdown_price"]>0

与我们之前学的数学操作类似，这时候该列的数据会逐个和0进行比较操作，每一行都会返回一个对应的布尔值，从而得到一个布尔型Series：

True表示该行的"cutdown_price"大于0；
False表示该行的"cutdown_price"小于等于0。

根据右图可以看到，"cutdown_price"这一列里，第85647行的数据是1000，大于0，所以返回的布尔值是True。      

我们来试试，使用比较运算中的大于等于（>=）来写一个条件表达式，判断一下data变量里，"cutdown_price"这一列哪些值大于等于500。

In [2]:
# 导入pandas模块，并以"pd"为该模块的简写
import pandas as pd

# 使用pd.read_csv()函数读取路径为 "/Users/yequ/电商数据清洗.csv" 的CSV文件，并将结果赋值给变量data
data = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_4_output/yequ/电商数据清洗.csv")

# TODO 使用列索引筛选出"cutdown_price"这一列数据
# 同时使用比较运算判断这一列哪些值大于等于500
# 并使用print()将结果直接输出
print(data["cutdown_price"] >= 500)

0        False
1        False
2        False
3        False
4        False
         ...
85647     True
85648    False
85649    False
85650    False
85651    False
Name: cutdown_price, Length: 85652, dtype: bool

在得到了一个布尔型Series后，我们就可以把True对应位置的行保留下来，作为新的DataFrame返回。

这样，就可以获取到所有 "cutdown_price" 大于0的行数据啦。

要将所有返回为True的对应行数据保留下来，就需要用到布尔索引。

将刚刚写的条件表达式传入DataFrame对象后的 中括号 里作为布尔索引即可。

布尔索引会把判断结果为True的行数据直接返回，从而达到筛选数据的效果。

In [3]:
# 导入pandas模块，并以"pd"为该模块的简写
import pandas as pd

# 使用pd.read_csv()函数读取路径为 "/Users/yequ/电商数据清洗.csv" 的CSV文件，并将结果赋值给变量data
data = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_4_output/yequ/电商数据清洗.csv")

# 使用print()和布尔索引，输出"cutdown_price"这一列值里大于0的行
print(data[data["cutdown_price"]>0])

          id  order_id   user_id  payment  price  items_count  cutdown_price  \
9         10   3515721  57070466     3121   6121            9           3000
26        27   3515738  16557313     8550   9550            8           1000
27        28   3515739  28057189     3850   4850            5           1000
34        36   3515747  55532544     5000   5500            4            500
42        44   3515755  65095903     8600   9100            2            500
...      ...       ...       ...      ...    ...          ...            ...
85607  86086   3601797  55758001     3900   4900            6           1000
85615  86094   3601805  69102587     5500   6500            3           1000
85639  86120   3601831  38347563      190   2190            3           3000
85646  86127   3601838  65136701     4150   5150            3           1000
85647  86128   3601839  80511560     4601   5601            4           1000

       post_fee  pay_type      create_time         pay_time
9             0     202.0    2018/2/1 3:23    2018/2/1 3:23
26            0       NaN    2018/2/1 9:05    2018/2/1 9:12
27            0     202.0    2018/2/1 9:11    2018/2/1 9:11
34            0     202.0   2018/2/1 10:56   2018/2/1 10:56
42            0     102.0   2018/2/1 12:33   2018/2/1 12:35
...         ...       ...              ...              ...
85607         0     202.0  2018/7/24 12:28  2018/7/24 12:28
85615         0     102.0  2018/7/20 10:22  2018/7/20 10:24
85639      1000     202.0  2018/7/20 14:22  2018/7/20 14:23
85646         0     202.0  2018/7/20 14:59  2018/7/20 14:59
85647         0     202.0  2018/7/20 15:02  2018/7/20 15:02

[17939 rows x 11 columns]

从输出的内容可以看到，返回的DataFrame就是data变量里，所有"cutdown_price"这一列值里大于0的行数据。

这时的行索引index就类似于一个书签，用于标记位置，不影响内容。

根据行索引index，就能很快地知道原数据data变量里的第10行、第27行、第28行、......的cutdown_price都大于0。

1. 要筛选的数据        

data是需要进行筛选的DataFrame对象。

2. 第一个中括号         

第一个中括号，也就是最外面的中括号，表示对变量data进行索引。

3. 条件表达式          

中括号里的内容是通过一个条件表达式，来判断"cutdown_price"这一列值里是否大于0。

pandas通过这个条件表达式得到一个布尔型Series，再通过这个Series来索引数据。

4. 访问列数据         

按data["columns"]的形式访问"cutdown_price"这一列数据。

5. 比较运算

通过大于（>）来判断"cutdown_price"列的数据是否大于0。

在实际应用中，只要是通过比较运算返回的判断结果（一个布尔型Series），就可以进行布尔索引。

比如，常见的比较运算有：==、 >、<、>=、<=、!=，以及接下来会学的一些逻辑判断 。

刚刚，我们学习了在只有一个判断条件时，如何使用布尔索引筛选数据。

如果我们想构建多个判断条件，就需要用到逻辑运算符。

# 布尔索引：多个判断条件

在pandas模块中，逻辑运算符有以下几种：

* & 表示并且
* | 表示或者
* ~ 表示否定

注意：&等符号是进行批量判断的，而and，or等符号只能对单个数值进行判断。

&（并且）：运算符两边的布尔值均为True时，运算结果才为True，其他情况为False。

｜（或者）：运算符两边的布尔值至少有一个为True时运算结果就为True，仅当两边的布尔值都是False 时结果才为False。

~（非）：仅有一个布尔值参与运算，运算结果为对这个布尔值取反。

让我们来思考以下例子：

假设在读取电商数据时，我们想要输出所有 "cutdown_price"大于0 和 "post_fee"大于0 的行，该怎么做呢？

我们可以先通过刚刚学到的知识，分别获取 "cutdown_price" 大于0 的行数据和 "post_fee" 大于0 的行数据。

具体代码如下：

In [4]:
# 导入pandas模块，并以"pd"为该模块的简写
import pandas as pd

# 使用pd.read_csv()函数读取路径为 "/Users/yequ/电商数据清洗.csv" 的CSV文件，并将结果赋值给变量data
data = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_4_output/yequ/电商数据清洗.csv")

# 使用print()和布尔索引输出"cutdown_price"这一列值里大于0的行数据
print(data[data["cutdown_price"]>0])
# 使用print()和布尔索引输出"post_fee"这一列值里大于0的行数据
print(data[data["post_fee"]>0])

          id  order_id   user_id  payment  price  items_count  cutdown_price  \
9         10   3515721  57070466     3121   6121            9           3000
26        27   3515738  16557313     8550   9550            8           1000
27        28   3515739  28057189     3850   4850            5           1000
34        36   3515747  55532544     5000   5500            4            500
42        44   3515755  65095903     8600   9100            2            500
...      ...       ...       ...      ...    ...          ...            ...
85607  86086   3601797  55758001     3900   4900            6           1000
85615  86094   3601805  69102587     5500   6500            3           1000
85639  86120   3601831  38347563      190   2190            3           3000
85646  86127   3601838  65136701     4150   5150            3           1000
85647  86128   3601839  80511560     4601   5601            4           1000

       post_fee  pay_type      create_time         pay_time
9             0     202.0    2018/2/1 3:23    2018/2/1 3:23
26            0       NaN    2018/2/1 9:05    2018/2/1 9:12
27            0     202.0    2018/2/1 9:11    2018/2/1 9:11
34            0     202.0   2018/2/1 10:56   2018/2/1 10:56
42            0     102.0   2018/2/1 12:33   2018/2/1 12:35
...         ...       ...              ...              ...
85607         0     202.0  2018/7/24 12:28  2018/7/24 12:28
85615         0     102.0  2018/7/20 10:22  2018/7/20 10:24
85639      1000     202.0  2018/7/20 14:22  2018/7/20 14:23
85646         0     202.0  2018/7/20 14:59  2018/7/20 14:59
85647         0     202.0  2018/7/20 15:02  2018/7/20 15:02

[17939 rows x 11 columns]
          id  order_id   user_id  payment  price  items_count  cutdown_price  \
6          7   3515718  39118114     3700   2700            2              0
11        12   3515723  70201769     3700   2700            2              0
12        13   3515724  68874979     1800    800            2              0
13        14   3515725  58396308     4700   3700            2              0
32        34   3515745  54431694     2900   1900            4              0
...      ...       ...       ...      ...    ...          ...            ...
85617  86097   3601808  81646012     3700   2700            2              0
85635  86115   3601826  83543256     4700   3700            2              0
85636  86116   3601827  68919720     2700   1700            2              0
85637  86117   3601828  15944803     4700   3700            2              0
85639  86120   3601831  38347563      190   2190            3           3000

       post_fee  pay_type      create_time         pay_time
6          1000     102.0    2018/2/1 2:08    2018/2/1 2:08
11         1000     202.0    2018/2/1 4:49    2018/2/1 4:49
12         1000     202.0    2018/2/1 4:51    2018/2/1 4:51
13         1000     202.0    2018/2/1 5:06    2018/2/1 5:06
32         1000     202.0   2018/2/1 10:14   2018/2/1 10:15
...         ...       ...              ...              ...
85617      1000     202.0  2018/7/20 10:56  2018/7/20 10:58
85635      1000     202.0  2018/7/20 14:04  2018/7/20 14:05
85636      1000     202.0  2018/7/20 14:11  2018/7/20 14:11
85637      1000     102.0  2018/7/20 14:12  2018/7/20 14:13
85639      1000     202.0  2018/7/20 14:22  2018/7/20 14:23

[12950 rows x 11 columns]

接下来，要同时输出 "cutdown_price"大于0 和 "post_fee"大于0的行数据，就需要在一个索引中，使用 & 来连接对应的两个判断条件。

注意⚠️，当有多个判断条件时，每一个判断条件都需要用小括号( )括起来。

这时，同时满足这两个判断题的行数据就会被筛选出来～

In [5]:
# 导入pandas模块，并以"pd"为该模块的简写
import pandas as pd

# 使用pd.read_csv() 函数读取路径为 "/Users/yequ/电商数据清洗.csv" 的CSV文件，并将结果赋值给变量data
data = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_4_output/yequ/电商数据清洗.csv")

# 使用print()和布尔索引
# 输出"cutdown_price"这一列值里大于0
# 和"post_fee"这一列值里大于0的行
print(data[(data["cutdown_price"]>0) & (data["post_fee"]>0)])

          id  order_id   user_id  payment  price  items_count  cutdown_price  \
62        64   3515775  56387250      700   2700            2           3000
69        71   3515782  12103835     -199    801            3           2000
74        77   3515788  43457070        0   1000            2           2000
337      340   3516051  38708714     3400   3400            2           1000
356      359   3516070  33346932      400   1400            2           2000
...      ...       ...       ...      ...    ...          ...            ...
84814  85292   3601003  55699908     3700   3700            2           1000
84926  85404   3601115  79171655      140   2140            4           3000
85255  85734   3601445  28653311     1700   3700            2           3000
85430  85909   3601620  21922736     1400   3400            2           3000
85639  86120   3601831  38347563      190   2190            3           3000

       post_fee  pay_type      create_time         pay_time
62         1000     202.0   2018/2/1 15:22   2018/2/1 15:22
69         1000     202.0    2018/2/2 0:26    2018/2/2 0:26
74         1000     202.0    2018/2/2 1:57    2018/2/2 1:57
337        1000     202.0    2018/2/3 2:14    2018/2/3 2:14
356        1000     202.0    2018/2/3 5:57    2018/2/3 5:57
...         ...       ...              ...              ...
84814      1000     202.0  2018/7/17 13:43  2018/7/17 13:52
84926      1000     202.0  2018/7/17 23:36  2018/7/17 23:36
85255      1000     202.0  2018/7/22 15:05  2018/7/22 15:05
85430      1000     302.0  2018/7/23 13:20  2018/7/23 13:20
85639      1000     202.0  2018/7/20 14:22  2018/7/20 14:23

[855 rows x 11 columns]

# 百题斩题目

## 挑选书籍
阿亮是个热爱读书的人，他想买本评分高又便宜的外文书籍进行阅读，因此需要对高评分的书籍数据进行筛选。

数据集的地址是： "/Users/book/bestsellers.csv"

数据中有"书籍"，"作者"，"评分"，"评论数"，"价格"，"年份"，"体裁"这七列。
请利用学过的知识，帮他筛选出评分最高中，价格最低的书籍信息并输出。

In [6]:
# 导入pandas，并使用"pd"作为该模块的简写
import pandas as pd

# TODO 获取文件"/Users/book/bestsellers.csv"，并赋值给data
data = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_6_output/book/bestsellers.csv")

# TODO 使用列索引和max()函数获取最高得分，并赋值给maxScore
maxScore = data["评分"].max()

# TODO 使用布尔索引和maxScore获取所有拥有最高评分的数据，并赋值给maxData
maxData = data[data["评分"] == maxScore]

# TODO 使用列索引和min()函数获取maxData中的最低价格，并赋值给lowestPrice
lowestPrice = maxData["价格"].min()

# TODO 使用maxData、lowestPrice和布尔索引
# 筛选出同时满足得分最高和价格最低的书籍信息，并赋值给result
result = maxData[maxData["价格"] == lowestPrice]

# TODO 使用print()输出结果
print(result)

                                           书名               作者   评分  被查看次数  \
443  Brown Bear, Brown Bear, What Do You See?  Bill Martin Jr.  4.9  14344
458                        The Magnolia Story      Chip Gaines  4.9   7861
459               The Very Hungry Caterpillar       Eric Carle  4.9  19546

     价格    年份           体裁
443   5  2017      Fiction
458   5  2016  Non Fiction
459   5  2013      Fiction

## 精准输出
昨天我们帮助小董获取了信用卡额度的一些信息。

今天，小董想输出性别是女性，职业是其他以及地址在四川的用户的行数据。

在用户信息表中：
"sex"列代表性别，其中 "F" 代表女性；
"career"列代表职业；
"address"列代表地址。

请利用今天学习到的 列索引 和 布尔索引，来帮助小董找出满足指定条件的行数据吧，别忘记将结果输出哦～

注意，本题中还需要用到 字符串筛选 这个知识点，请先点击提示进行学习。

* 字符串筛选

用户开卡信息表中，"address"（地址）列的信息是由详细地址+邮编构成的。

我们想筛选出"address"这一列中包含"四川"的数据，就需要判断这一列数据中哪些值包含"四川"这个字符串。

这时候，就需要用到pandas模块中的：str.contains()函数。

将要查找的字符串传入该函数中，就可以得到一个布尔型Series。我们可以通过返回的布尔型Series来索引数据。

例如，我们使用pandas模块读取用户开卡信息表并赋值给变量data后，想判断"address"列中哪些值包含"四川"的代码如下：
`data["address"].str.contains("四川")`

最后的输出为一个布尔型Series：
```
0 False
1 False
2 False
3 False
4 False
...
4995 False
4996 False
4997 False
4998 False
4999 False
Name: address, Length: 5000, dtype: bool
```

In [7]:
# 导入pandas模块，并以"pd"为该模块的简写
import pandas as pd

# 使用pd.read_csv()函数读取路径为 "/Users/find/信用卡用户信息.csv" 的CSV文件，并将结果赋值给变量data
data = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_5_output/find/信用卡用户信息.csv")

# TODO 使用列索引和比较运算
# 创建判断"sex"列中的数据等于"F"的判断条件，并赋值给变量female
female = (data["sex"] == "F")

# TODO 使用列索引和比较运算
# 创建判断"career"列中的数据等于"其他"的判断条件，并赋值给变量other
other = (data["career"] == "其他")

# TODO 使用列索引和str.contains()函数
# 创建判断"address"列中的数据包含"四川"的判断条件，并赋值给变量city
city = (data["address"].str.contains("四川"))

# TODO 使用布尔索引和创建的判断条件
# 筛选出符合要求的数据，并赋值给变量result
result = data[female & other & city]

# TODO 使用print()输出结果
print(result)

     name sex             ID_card  phone_number                email  \
938    陈莉   F  632300199311180616   13612035954  zougang@hotmail.com
3912   李洋   F  131024198207288855   14532078318     zchang@yahoo.com

         company career   credit_card_number  credit_limit  \
938     创亿科技有限公司     其他         503832109469        171192
3912  恒聪百汇传媒有限公司     其他  4686071490884544700        197808

         application_date                 address
938   2019-12-17 19:26:09  四川省建军市朝阳齐齐哈尔街n座 806800
3912  2020-06-08 15:43:26     四川省台北县东城陈路w座 492261

## 初探“泰坦尼克号”
泰坦尼克号沉没是历史上最著名的沉船事故之一。下图截取了部分来自网络上的数据，记录了船上的乘客存活情况。
其中，PassengerId是乘客的id，Survived是存活情况（1代表存活，0代表未存活），Pclass是乘客所在的船舱号，分为1/2/3号船舱。

请根据这份资料，利用今天学到的知识计算出1/2/3号各船舱的存活率，并在最后格式化输出这些信息。
```
存活率的公式为：
存活率 = 存活人数/总人数

输出示例为：
1号船舱存活率是xx
2号船舱存活率是xx
3号船舱存活率是xx
```
本题中需要用到 计算数量 这个知识点，请先点击提示进行学习。

* 计算数量

当需要对一组数据进行计数时，可以使用pandas模块中的count()函数。

比如，我们要计算1号船舱的存活率，那么首先需要获取1号船舱的人数。

具体的方式是，先通过布尔索引筛选出"Pclass"列中，所有是1的数据。

再通过列索引选取"PassengerId"这一列。这样，我们就获取到所有在1号船舱的乘客id了。

然后，对筛选后的数据集使用count()函数，就可以计算出1号船舱的总人数啦。

具体代码为：
```
Pclass1 = df[(df["Pclass"]==1)]["PassengerId"].count()
print(Pclass1)
```
输出结果：
`216`

In [8]:
# 导入pandas模块，并以"pd"为该模块的简写
import pandas as pd

# 使用read_csv()函数，获取文件"/Users/titanic/train.csv"，并赋值给df
df = pd.read_csv("/Users/xiaojiangyue/programming-study-notes/Python/数据分析/lesson_6_output/titanic/train.csv")   
 
# 使用布尔索引、列索引和count()函数计算各船舱人数
# TODO 计算1号船舱总人数，并赋值给Pclass1
Pclass1 = df[df["Pclass"]==1]["PassengerId"].count()

# TODO 计算2号船舱总人数，并赋值给Pclass2
Pclass2 = df[df["Pclass"]==2]["PassengerId"].count()

# TODO 计算3号船舱总人数，并赋值给Pclass3
Pclass3 = df[df["Pclass"]==3]["PassengerId"].count()

# 使用布尔索引、列索引和count()函数计算各船舱存活人数
# TODO 计算1号船舱的存活人数，使用count()函数对Pclass=1且Survived=1的数据计数，并赋值给Pclass1_Survived
Pclass1_Survived = df[(df["Pclass"]==1) & (df["Survived"]==1)]["PassengerId"].count()

# TODO 计算2号船舱的存活人数，使用count()函数对Pclass=2且Survived=1的数据计数，并赋值给Pclass2_Survived
Pclass2_Survived = df[(df["Pclass"]==2) & (df["Survived"]==1)]["PassengerId"].count()

# TODO 计算3号船舱的存活人数，使用count()函数对Pclass=3且Survived=1的数据计数，并赋值给Pclass3_Survived
Pclass3_Survived = df[(df["Pclass"]==3) & (df["Survived"]==1)]["PassengerId"].count()

# 使用公式计算各船舱存活率
# TODO 使用公式Pclass1_Survived/Pclass1，计算1号船舱的存活率，并赋值给Survived_rate1
Survived_rate1 = Pclass1_Survived / Pclass1

# TODO 使用公式Pclass2_Survived/Pclass2，计算2号船舱的存活率，并赋值给Survived_rate2
Survived_rate2 = Pclass2_Survived / Pclass2

# TODO 使用公式Pclass3_Survived/Pclass3，计算3号船舱的存活率，并赋值给Survived_rate3
Survived_rate3 = Pclass3_Survived / Pclass3

# 使用print()格式化输出各船舱的存活率
# TODO 使用print()格式化输出 f"1号船舱存活率是{Survived_rate1}"
print(f"1号船舱存活率是{Survived_rate1}")

# TODO 使用print()格式化输出 f"2号船舱存活率是{Survived_rate2}"
print(f"2号船舱存活率是{Survived_rate2}")

# TODO  使用print()格式化输出 f"3号船舱存活率是{Survived_rate3}"
print(f"3号船舱存活率是{Survived_rate3}")

1号船舱存活率是0.6296296296296297
2号船舱存活率是0.47282608695652173
3号船舱存活率是0.24236252545824846

一般来说统计一个列的数据。就直接在他后面count（），这里之所以会多一个[passengerId]，是因为多列时，使用时count时。是一个自动填充后的series

举例：

In [9]:
dict1 = {"A":[1,2,3], "B":[4,5,6]}
df1 = pd.DataFrame(dict1)
print(df1)

   A  B
0  1  4
1  2  5
2  3  6

In [11]:
df1[df1["A"] == 1].count()

A    1
B    1
dtype: int64

In [12]:
df1[df1["A"] == 1]["A"].count()

1